html, body {
    height: 100%;
    font-family: 'Space Mono', monospace;
    text-align: center;
    list-style-type: none;
}

h1 {
    font-family: 'Major Mono Display', monospace;
}

p {
    text-align: justify;
    padding: 20px;
}

li > button {
    color: #33cc33;
    background-color: #000000;
    margin-top: 5px;
    padding: 5px;
    border: solid 1px #33cc33;
    border-radius: 3px;
}

li > button:hover {
    color: #000000;
    background-color: #33cc33;
    margin-top: 5px;
    padding: 5px;
    border: solid 1px #000000;
    border-radius: 3px;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #000000
}

.navbar a:hover {
    color: #33cc33;
    background-color: #000000;
    padding: 5px;
    border: 2px solid #33cc33;
    border-radius: 3px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#start {
    margin-top: 20px;
    margin-left: 50%;
}

#choices {
    list-style-type: none;
    text-align: left;
}

#final-score {
    text-align: center;
}

#scores {
    list-style-type: none;
    background-color: #c2f0c2;
}