html, body {
    height: 100%;
    font-family: 'Space Mono', monospace;
    text-align: center;
    list-style-type: none;
}

/* header {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
}
*/

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #000000
}

.navbar a:hover {
    color: #33cc33;
    background-color: #000000;
    padding: 5px;
    border: 2px solid #33cc33;
    border-radius: 3px;
}



.show {
    display: block;
}

.hide {
    display: none;
}